.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(60%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.kuva{
    max-width: 20%;
}

.list{
    list-style: none;
}

.box{
    width: 50%;
    text-align:center;
    display:block;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}